# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

Time Diagram
Report
*~

CMakeFiles

Makefile

CMakeCache.txt

bin_client
bin_srv

cmake_install.cmake

build
